<% provide(:title, 'All users') %>
<h1>All records</h1>

<%= will_paginate %>

<table class="table table-striped table-condensed">
  <thead>
    <th>Id</th>
    <th>Sender</th>
    <th>Date</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @records.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td><%= record.from %></td>
      <td><%= record.updated_at %></td>
      <td><%= record.note %></td>
      <td><audio src="<%= record.recording_url %>" controls></audio></td>
      <td>
	<a href="<%= record.recording_url %>.mp3" class="btn btn-block btn-s btn-info">
	  Download
	</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
